:root {
  --primaryColor: #ffffff;
  --secondaryColor: #e6e4e4;
  --formtextColor: #088c18;

  --mainFont: "Open Sans", sans-serif;
  --headingFont: "Merriweather", serif;
}
body {
  font-family: var(--mainFont);
}
.heading {
  font-family: var(--headingFont);
  font-size: 24px;
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}
/* Navbar */
.navbar-brand {
  font-family: var(--headingFont);
  font-weight: 900;
}
span {
  color: var(--formtextColor);
}
.nav-link {
  font-family: var(--headingFont);
}

.nav-link.active {
  font-weight: 700;
  color: var(--formtextColor) !important;
}
.login-home {
  margin-left: 16px;
}
.home {
  background-color: var(--secondaryColor);
  padding-top: 90px;
}
input.placeholder {
  color: var(--formtextColor);
}
.form {
  font-family: var(--mainFont);
}
.card .img {
  padding-bottom: 25px;
}
h5 {
  font-family: var(--mainFont);
  font-weight: 700;
}

/* section d */
.email-box .input-group .btn-news {
  margin-top: 50px;
  margin-bottom: 40px;
}
.input-group .btn-news i {
  color: white;
  width: 19px;
  height: 20px;
}
.email-box {
  height: 383px;
  border-radius: 40px;
}
.email-box .sub-heading span {
  margin-top: 20px;
}
.email-box .input-group  input{
  margin-top: 50px;
  margin-bottom: 40px;
}
.text-uppercase {
  font-weight: 700;
}
.list-unstyled .text-next { 
  font-weight: 400; 
  text-decoration: none;
}